In [4]:
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
x= np.arange(10)**3
x

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [10]:
# remember that python counts from 0 in index

x[3] #Accesing the number 3
x[-4] # Access from back to front the position 4
x[1:8] # Access the values from 1 to 7
x[3:-3] # Access the values from 3 until the -3
x[:8] # As there is no starting number so python asume is 0
x[3:] # As there is no ending number so python asume is until the end of the array
# numpy use also x[start:stop:step] notation
x[:10:2] # so it will start at 0 until position 9, giving step of 2 by 2
x[::-1] # This gives all the arrar but inverse of the array.

27

216

array([  1,   8,  27,  64, 125, 216, 343], dtype=int32)

array([ 27,  64, 125, 216], dtype=int32)

array([  0,   1,   8,  27,  64, 125, 216, 343], dtype=int32)

array([ 27,  64, 125, 216, 343, 512, 729], dtype=int32)

array([  0,   8,  64, 216, 512], dtype=int32)

array([729, 512, 343, 216, 125,  64,  27,   8,   1,   0], dtype=int32)

In [12]:
companies = np.array([['Samsung', 'Microsoft', 'IBM','Spotify','Flipkart']
                     ,[1938,1975,1911,2006,2007]
                     ,[489000,131000,380000,3000,30000]])

companies

array([['Samsung', 'Microsoft', 'IBM', 'Spotify', 'Flipkart'],
       ['1938', '1975', '1911', '2006', '2007'],
       ['489000', '131000', '380000', '3000', '30000']], dtype='<U9')

In [26]:
#array[row,column]

companies[0] # this gets the first row that are the companies
companies[:,2] # this is more specific that specify that give me all the rows of the position or index 2
companies[0,2] # give me the value in row 0 and position index 2
companies[0:2,2:4] # This shows the rows from 0 to 1 and the colums from 2 to 3
companies[0:3,2:5]# This shows the rows from 0 to 2 and the colums from 2 to 4
companies[-1,:] # all the colums of the last row. 
companies[0,...] #... is used in numpy to say the rest of the array so will give all the colums from row 0
companies[...,2]

array(['Samsung', 'Microsoft', 'IBM', 'Spotify', 'Flipkart'], dtype='<U9')

array(['IBM', '1911', '380000'], dtype='<U9')

'IBM'

array([['IBM', 'Spotify'],
       ['1911', '2006']], dtype='<U9')

array([['IBM', 'Spotify', 'Flipkart'],
       ['1911', '2006', '2007'],
       ['380000', '3000', '30000']], dtype='<U9')

array(['489000', '131000', '380000', '3000', '30000'], dtype='<U9')

array(['Samsung', 'Microsoft', 'IBM', 'Spotify', 'Flipkart'], dtype='<U9')

array(['IBM', '1911', '380000'], dtype='<U9')