In [1]:
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Creating lists

emp_names = ['Danielle','Lorena','Manuel','Ryan','Teresa','Wes']
emp_ids = [1,2,3,4,5,6]
emp_scores = [78.2,57.50,90,77,96.20,87.37]

In [4]:
#Initilize the structure array with np.zeros
# we are indicating to create an array of 6 rows with the column names and its formats on each column with the dictionary dtype

emp_data = np.zeros(6, dtype= {'names': ('Name', 'ID', "Score"),
                               'formats': ('U16','i4','f8')})

emp_data

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.),
       ('', 0, 0.)],
      dtype=[('Name', '<U16'), ('ID', '<i4'), ('Score', '<f8')])

In [5]:
# Assing the values into new 2D array. 

emp_data['Name'] = emp_names
emp_data['ID'] = emp_ids
emp_data['Score'] = emp_scores

emp_data

array([('Danielle', 1, 78.2 ), ('Lorena', 2, 57.5 ), ('Manuel', 3, 90.  ),
       ('Ryan', 4, 77.  ), ('Teresa', 5, 96.2 ), ('Wes', 6, 87.37)],
      dtype=[('Name', '<U16'), ('ID', '<i4'), ('Score', '<f8')])

In [7]:
#Examinating the array by colum 
emp_data['Name']
emp_data['ID']
emp_data['Score']

array(['Danielle', 'Lorena', 'Manuel', 'Ryan', 'Teresa', 'Wes'],
      dtype='<U16')

array([1, 2, 3, 4, 5, 6])

array([78.2 , 57.5 , 90.  , 77.  , 96.2 , 87.37])

In [13]:
# We can use number indexing or negative indexing

emp_data[2] #This will provide the row with index 2

emp_data[-2]['Name'] #Show the name of the index -2

emp_data[-2]['Score'] #SHow the score of the index -2

('Manuel', 3, 90.)

'Teresa'

96.2

In [14]:
# Also we can get informaton from a structured array 

#The structure of the line of code is like SQL
# df[Where][Select]

#  df   [       Where         ][Select]
emp_data[emp_data['Score']> 85]['Name']

array(['Manuel', 'Teresa', 'Wes'], dtype='<U16')